body {
    margin: 0px;
    background: repeating-linear-gradient(256.58deg, #333 0%, #e5e5e5 0%, #ffffff 100%);

}

canvas {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
    position: fixed;
    left: 0;
    top: 0;
}

p{
    text-shadow: 4px 4px 12px #b6b6b6;
}
